<div class="row text-center">
  <h3> Chat </h3>
</div>

<div class="card mx-auto" style= "width: 600px">
  <div class="card-body">
    <div class="chat-messages overflow-scroll mb-4" style="height: 300px" id="chat-messages">
      <% chat_session.messages.includes(:user).each do |message| %>
        <% if current_user == message.user %>
          <div class="d-flex justify-content-end">
            <div class="message me-3 bg-success rounded p-2" style="width: 250px">
              <p class="fw-bold mb-1" style="font-size:16px">
                <i class="fas fa-user-circle"></i> <%= message.user.first_name %>
              </p>
              <p class="ms-2 mb-1" style="font-size:16px" style="text-align: justify">
                <%= message.content %>
              </p>
              <p class="fw-light ms-3 text-end mb-1" style="font-size:9px;"> <%= time_ago_in_words message.created_at%> ago</p>
            </div>
          </div>
        <% else %>
          <div>
            <div class="message me-3 bg-info rounded p-2", style="width: 250px">
              <p class="fw-bold mb-1" style="font-size:16px">
                 <i class="fas fa-user-circle"></i> <%= message.user.first_name %>
              </p>
              <p class="ms-3 mb-1" style="font-size:16px">
                <%= message.content %>
              </p>
              <p class="fw-light ms-3" style="font-size:10px;">messaged <%= time_ago_in_words message.created_at%> ago</p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="chat-input">
    <hr>
      <%= form_for(chat_session.messages.build, url: '/message/create', html: { id: 'new-message-form' }) do |f| %>
        <div class="form-group">
          <div class="row">
            <div class="col-11 pe-0">
              <%= f.hidden_field :chat_session_id, value: chat_session.id %>
              <%= f.text_area :content, rows: 1, placeholder: "Type your message...", class: "form-control" %>
            </div>
            <div class="col-1 text-start p-0">
              <%= f.submit "Send", class: "btn btn-primary mx-auto d-block btn-sm", style: "padding: 6px; font-size: 16px;" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>