<% accessories.each do |accessory| %>
  <div class="col-2 mb-4">
    <div class="card shadow-sm rounded">
      <%= link_to accessory_path(accessory) do %>
        <%= image_tag "tortoise_accessory#{rand(9)}.jpg", class: "card-img-top", alt: accessory.name, style: "height: 200px; object-fit: cover;" %>
      <% end %>

      <div class="card-body">
        <h6 class="card-text text-center"><%= accessory.name %></h6>
        <%= render partial: 'shared/show_rating', locals: {rating: accessory.avg_rating} %>
        <p class="card-text text-start"><%= number_to_currency(accessory.price) %></p>
        <div class="text-center mt-2">
          <%= link_to "View Details", accessory_path(accessory), class: "btn btn-sm btn-info btn-sm d-block" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
